.nav-tab:focus {
	box-shadow: none;
}
.tab-pane {
	padding-top: 16px;
}

.featureBox + .featureBox {
	margin-top: 16px;
}

.featureBox {
	display: flex;
	gap: 8px;
	--color: var(--wp-admin-theme-color, #2271b1);
}

.featureBox_switch {
	position: relative;
	top: 2px;
	cursor: pointer;
}

.featureBox .featureBox_input {
	display: none;
}

.featureBox_icon {
	--size: 14px;
	--border: 3px;
	--gap: 2px;

	display: inline-block;
	background: #ccc;
	height: calc(var(--size) + 2 * var(--border));
	width: calc(2 * var(--size) + 2 * var(--border) + var(--gap));
	border-radius: 99px;
	position: relative;
	transition: background .2s;
}

.featureBox_icon:before {
	display: inline-block;
	content: '';
	height: var(--size);
	width: var(--size);
	border-radius: 99px;
	position: absolute;
	top: var(--border);
	left: var(--border);
	background: #fff;
	transition: left .2s;
}

.featureBox_input:checked+.featureBox_icon {
	background: var(--color);
}

.featureBox_input:checked+.featureBox_icon:before {
	left: calc(var(--size) + var(--border) + var(--gap));
}

.featureBox_title {
	font-weight: 600;
	font-size: 14px;
	color: #1d2327;
	margin-bottom: 4px;
}

/* Admin color schemes */
.admin-color-blue .featureBox  {
	--color: var(--wp-admin-theme-color, #e1a948);
}
.admin-color-coffee .featureBox {
	--color: var(--wp-admin-theme-color, #c7a589);
}
.admin-color-ectoplasm .featureBox {
	--color: var(--wp-admin-theme-color, #a3b745);
}
.admin-color-light .featureBox {
	--color: var(--wp-admin-theme-color, #04a4cc);
}
.admin-color-midnight .featureBox {
	--color: var(--wp-admin-theme-color, #e14d43);
}
.admin-color-modern .featureBox {
	--color: var(--wp-admin-theme-color, #3858e9);
}
.admin-color-ocean .featureBox {
	--color: var(--wp-admin-theme-color, #9ebaa0);
}
.admin-color-sunrise .featureBox {
	--color: var(--wp-admin-theme-color, #dd823b);
}


fieldset label {
	font-size: 14px;
	font-weight: 600;
	display: block;
	margin-top: 12px;
	margin-bottom: 4px;
}
fieldset p {
	font-style: italic;
}