.e-page {
	--color: var(--wp-admin-theme-color, #2271b1);
}

.e-box {
	background: #fff;
	padding: 12px 24px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.e-widget_actions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
	text-align: center;
}

.e-widget_actions input {
	display: none;
}

.auto-fold #wpcontent,
#wpcontent {
	padding-left: 0;
}

.e-header {
	position: sticky;
	top: 32px;
	z-index: 9;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 24px;
	border-bottom: 1px solid #e0e0e0;
	padding: 12px 24px;
	background: #fff;
}

.e-branding {
	display: flex;
	align-items: center;
	gap: 8px;
}

.e-branding svg {
	width: 40px;
	height: 40px;
}

.e-branding h1 {
	font-size: 20px;
	margin: 0;
}

.e-tabs {
	align-self: flex-end;
	margin-bottom: -12px;
	display: flex;
	gap: 24px;
}

.e-tab {
	cursor: pointer;
	display: inline-block;
	padding: 12px 0 24px;
	border-bottom: 3px solid transparent;
	line-height: 1;
	color: inherit;
	text-decoration: none;
}

.e-tab:focus {
	outline: none;
	box-shadow: none;
}

.e-tab-active {
	border-color: var(--color);
}

.e-header .submit {
	margin: 0;
	padding: 0;
	min-width: 160px;
	text-align: right;
}

.e-header .message {
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	animation: fadein .5s;
	font-weight: 600;
	color: #00a32a;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.e-header .button {
	font-size: 14px;
	font-weight: 500;
	transition: .1s;
	min-height: 40px;
	line-height: 40px;
	padding: 0 20px;
	margin: 0;
}

.e-body {
	max-width: 1140px;
	margin-inline: auto;
	margin-top: 48px;
	padding-inline: 24px;
}

.e-wrapper {
	display: grid;
	grid-template-columns: 1fr 300px;
	align-items: start;
	gap: 24px;
}

.e-widget {
	margin-bottom: 24px;
}

.e-widget_title {
	font-size: 16px;
	margin-top: 8px;
}

.nav-tab:focus {
	box-shadow: none;
}

.e-tabPane {
	padding-block: 8px;
	display: none;
}

.e-tabPane-active {
	display: block;
}

.featureBox+.featureBox {
	margin-top: 24px;
}

.featureBox {
	display: flex;
	gap: 8px;
}

.featureBox_switch {
	position: relative;
	top: 2px;
	cursor: pointer;
}

.featureBox .featureBox_input {
	display: none;
}

.featureBox_icon {
	--size: 14px;
	--border: 3px;
	--gap: 2px;

	display: inline-block;
	background: #ccc;
	height: calc(var(--size) + 2 * var(--border));
	width: calc(2 * var(--size) + 2 * var(--border) + var(--gap));
	border-radius: 99px;
	position: relative;
	transition: background .2s;
}

.featureBox_icon:before {
	display: inline-block;
	content: '';
	height: var(--size);
	width: var(--size);
	border-radius: 99px;
	position: absolute;
	top: var(--border);
	left: var(--border);
	background: #fff;
	transition: left .2s;
}

.featureBox_input:checked+.featureBox_icon {
	background: var(--color);
}

.featureBox_input:checked+.featureBox_icon:before {
	left: calc(var(--size) + var(--border) + var(--gap));
}

.featureBox_title {
	font-weight: 600;
	font-size: 14px;
	color: #1d2327;
	margin-bottom: 4px;
}

.featureBox_more {
	margin-top: 12px;
	display: none;
}

.featureBox:has(.featureBox_input:checked) .featureBox_more {
	display: block;
}

/* Form controls */
.formControls {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 16px;
}

/* Admin color schemes */
.admin-color-blue .e-page {
	--color: var(--wp-admin-theme-color, #e1a948);
}

.admin-color-coffee .e-page {
	--color: var(--wp-admin-theme-color, #c7a589);
}

.admin-color-ectoplasm .e-page {
	--color: var(--wp-admin-theme-color, #a3b745);
}

.admin-color-light .e-page {
	--color: var(--wp-admin-theme-color, #04a4cc);
}

.admin-color-midnight .e-page {
	--color: var(--wp-admin-theme-color, #e14d43);
}

.admin-color-modern .e-page {
	--color: var(--wp-admin-theme-color, #3858e9);
}

.admin-color-ocean .e-page {
	--color: var(--wp-admin-theme-color, #9ebaa0);
}

.admin-color-sunrise .e-page {
	--color: var(--wp-admin-theme-color, #dd823b);
}

fieldset label {
	font-size: 14px;
	font-weight: 600;
	display: block;
	margin-top: 12px;
	margin-bottom: 4px;
}

p.description {
	font-style: italic;
}

@media (max-width: 767px) {
	.e-header {
		position: static;
		padding-inline: 12px;
		justify-content: center;
	}

	.e-branding {
		display: none;
	}

	.e-body {
		padding-inline: 12px;
	}

	.e-wrapper {
		grid-template-columns: 1fr;
	}
}