.switch {
	display: flex;
	align-items: center;
	gap: 5px;

	--color: var(--wp-admin-theme-color, #2271b1);
}
.switch input {
	display: none;
}
.switch-icon {
	display: inline-block;
	background: #ccc;
	height: 16px;
	width: 28px;
	border-radius: 99px;
	position: relative;
	transition: background .2s;
}
.switch-icon:before {
	display: inline-block;
	content: '';
	height: 12px;
	width: 12px;
	border-radius: 99px;
	position: absolute;
	top: 2px;
	left: 2px;
	background: #fff;
	transition: left .2s;
}
input:checked + .switch-icon {
	background: var(--color);
}
input:checked + .switch-icon:before {
	left: 14px;
}

/* Admin color schemes */
.admin-color-blue .switch  {
	--color: var(--wp-admin-theme-color, #e1a948);
}
.admin-color-coffee .switch {
	--color: var(--wp-admin-theme-color, #c7a589);
}
.admin-color-ectoplasm .switch {
	--color: var(--wp-admin-theme-color, #a3b745);
}
.admin-color-light .switch {
	--color: var(--wp-admin-theme-color, #04a4cc);
}
.admin-color-midnight .switch {
	--color: var(--wp-admin-theme-color, #e14d43);
}
.admin-color-modern .switch {
	--color: var(--wp-admin-theme-color, #3858e9);
}
.admin-color-ocean .switch {
	--color: var(--wp-admin-theme-color, #9ebaa0);
}
.admin-color-sunrise .switch {
	--color: var(--wp-admin-theme-color, #dd823b);
}
